* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-lg: 32px;
  --text-md: 26px;

  --text-accent: hsl(16, 58%, 30%);
}

@font-face {
  font-family: "Rubik";
  src: url(../assets/fonts/Rubik-VariableFont_wght.ttf);
}

body {
  background-color: hsl(0, 0%, 89%);
  font-family: "Rubik";
}

/* ===Text=== */
.text {
  display: flex;
  flex-direction: column;
  max-width: 60%;

  margin-left: 5rem;
  font-family: "Rubik";
}
.title {
  font-size: var(--text-lg);
  text-transform: uppercase;
}

.separator {
  margin: 0 10px;
  color: var(--text-accent);
}

.sub-title {
  font-size: var(--text-md);
  text-transform: capitalize;
}

.free-accent {
  color: green;
  font-size: 19px;
  letter-spacing: 0.5px;
}

.viber-accent {
  font-size: 20px;
  color: #5238ff;
}

/* ===Header=== */

header {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;

  padding: 0 20px;
  background-color: whitesmoke;
  font-family: "Rubik";

  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}
.logo {
  width: 50px;
  margin-right: 10px;
}
.logo-container:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav {
  display: flex;
  align-items: center;
}

.nav-list {
  counter-reset: nav;
}

.nav-list-item {
  display: inline;
  margin-left: 5px;
  cursor: pointer;
}

.nav-list-item:hover {
  text-decoration: underline;
}

.nav-list-item::before {
  counter-increment: nav;
  content: counter(nav) ".";
  margin-right: 5px;
  color: var(--text-accent);
}

/* ===Main=== */
main {
  width: 100vw;
  max-width: 100%;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* =Section one= */

.background {
  width: 100%;
  height: 90%;
  position: absolute;

  object-fit: cover;
  object-position: -12rem;

  image-rendering: pixelated;
  z-index: -1;
}

.section-introduction {
  font-family: "Rubik";
  text-align: center;
}

.description {
  margin-top: 50px;
  font-size: 18px;
  max-width: 70%;
  align-self: center;
}

.arrow-down {
  width: 50px;
  align-self: center;
  position: absolute;
  top: 90%;
  cursor: pointer;
}

/* =Section two= */
.benefits-list {
  margin-top: 30px;
}

.slider {
  display: flex;
  justify-content: space-around;
}
.slider-product {
  max-width: 30vw;
  background: hsl(0, 0%, 93%);

  padding: 1rem;
  margin: 0 2rem;
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-content > img {
  width: 12rem;
  height: 17rem;
}
.slider-content > h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.slider-content > .description {
  max-width: none;
  text-align: center;
  margin-top: 15px;
}

.slider-link {
  font-size: 18px;
}

@media screen and (max-width: 1290px) {
  .background {
    object-position: -32rem;
  }
}
